@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.header{
    font-family: sans-serif;
    height: 100vh;
    background: url(../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
}
.link-content{
    flex-grow: 1;
    padding-left: 100px;
}
.nav-link{
    text-decoration: none;
    margin: 0px 5px;
    font-size: 14px;
    color: #ffffff;
    transition: all 0.4s ease-in-out;
}
.nav-link:hover{
    color: rgb(163 163 163);
}
.nav-button{
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    background-color: #38bdf8;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.nav-button:hover{
    background-color: rgb(14 165 233);
}
/* Header Form */
.header-form{
    display: flex;
    padding: 0px 10rem;
    justify-content: space-around;
}
.header-info{
    align-self: center;
    max-width: 40%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info-heading{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 900;
    word-spacing: 2px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.info-para{
    width: 70%;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.764);
    margin-bottom: 35px;
}
.info-button button{
    box-sizing: border-box;
    padding: 12px 30px;
    border-radius: 20px;
    border: 1px solid #fcf4f4;
    background: transparent;
    color: #fbfbfb;
    cursor: pointer;
    font-weight: 200;
    transition: all 0.4s ease-in-out;
}
.info-button button:hover{
    color: rgb(148 163 184);
    border: 1px solid rgb(148 163 184);
}
.info-button button:first-child{
    color: #ffffff;
    background-color: #38bdf8;
    border: none;
}
.info-button button:first-child:hover{
    background-color: rgb(14 165 233);
}
.form{
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    padding: 2.5rem;
}
.form>h3{
    color: #262626;
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center;
}
.form-label{
    display: block;
    color: #404040;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 0.5rem;
}
.form-input{
    margin-bottom: 0.8rem;
    margin-left: 0.2rem;
    padding: 14px; 
    border-radius: 5px;
    background-color: #f9fafb;
    border: 1px solid #8080802e;
    width: 80%;
    font-weight: 600;
    color: #a3a3a3;
}
.form-input:active,.form-input:focus{
    color: #232323;
    outline: none;
}
.form-input~select{
    font-weight: 600;
    color: rgb(115 115 115);
    width: 91%;
    cursor: pointer;
}
.form-button{
    margin-top: 30px;
    width: 95%;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #38bdf8;
    color: white;
    transition: all 0.4s ease-in-out;
}
.form-button:hover{
    background-color: rgb(14 165 233);
}
